.container {
  max-width: 1280px;
  margin: auto;
}
.generate-controller {
  // padding: 17vh 0;
  padding: 32px;
  padding-top: calc(50vh - 316px);
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  // text-align: center;
  // box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.3);
}
.generate-controller > h1 {
  font-weight: 800;
  color: #1f3260;
}
.custom-slider .ant-slider-handle {
  color: black !important;
  width: 30px;
  height: 30px;
  transform: translateY(-16%) translateX(-50%) !important;
}
.custom-slider .ant-slider-rail {
  color: black !important;
  height: 10px;
}

.custom-slider .ant-slider-track {
  color: black !important;
  height: 10px;
}
.generated-images {
  margin: 32px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.generated-images > img {
  width: 50vw;
  max-width: 500px;
  margin: auto;
}
.type-selector {
  position: absolute;
  width: auto;
  margin: auto;
  left:25%;
  bottom: 0;
  margin-bottom: 32px;
}
.invisible {
  display: none;
}
// .ant-radio-button-wrapper:first-child{
//   border-radius: 10px 0 0 10px;
// }
// .ant-radio-button-wrapper:last-child {
//   border-radius: 0 10px 10px 0;
// }
.ant-radio-button-wrapper-checked {
  border-width: 3px !important;
  border-top-width: 3.02px !important;
  border-left-width: 3px !important;
}
.button-type-select {
  border-radius: 10px;
  margin: 0 0.2em;
  font-size: 3em;
  height: 1.6em;
  width: 1.6em;
  padding: 0px !important;
  border-width: 2px;
  // width: 100px;
  text-align: center;
  background: transparent;
  color: white;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  border-color: #1f3260;
  color: #1f3260;
}
.button-type-select:hover {
  // font-size: 6vh;
  margin: 0 0em;
  height: 2em !important;
  width: 2em !important;
  background: #1f3260 !important;
  color: white !important;
  // color: #0495D9 !important;
  // border-color: white !important;
}

.button-type-active {
  // font-size: 6vh !important;
  margin: 0 0.2em !important;
  height: 2em !important;
  width: 2em !important;
  background: #1f3260 !important;
  color: white !important;
  // border-color: white !important;
}
.inspiration-thumbnail {
  width: 139px !important;
  height: 139px !important;
  margin: 8px;
  box-shadow: 0px 4px 8px rgba(201, 201, 201, 0.25);
  border-radius: 8px;
  border: 0;
}
.inspiration-thumbnail > .ant-card-body {
  padding: 8px !important;
}
.inspiration-thumbnail > .ant-card-body > img {
  width: 100%;
}
// .active-inspiration {
  // height: 3px;
  // width: 70%;
  // background: #1f3260;
  // margin: auto;
  // border-radius: 5px;
// }
.active-inspiration-thumbnail {
  border-style: solid !important;
  border-width: 3px !important;
  border-color: #1f3260 !important;
}
.btn-generate-inspiration {
  width: 78%;
  font-weight: 700;
  font-size: 16px;
  height: 64px;
  border-radius: 8px;
  margin: 8px;
  color: #1f3260;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: rgb(243, 243, 243) !important;
}
.btn-generate-inspiration:hover {
  color: white;
  background: #1f3260;
}
.btn-customize {
  width: 70%;
  font-weight: 700;
  font-size: 16px;
  height: 64px;
  border-radius: 35px;
  
  bottom: 0;
  left: 0;
  margin: 40px;
  position: absolute;
  // transform: translateY(-50%);
}
